body {
    background-image: url(../folder/imagenes/QKkCBbv.png)
}



.el_pepe {
    background-color: aqua;

}

.skill {
margin-left: 500px;
left: 40px;
}
.el_pepe2 {
margin-left: 525px;
}

.el_pepe3 {
  margin-left: 550px;
} 

.el_pepe4 {
  margin-left: 525px;
}
.el_pepe5 {
    margin-left: 525px;
}
.el_pepe6 {
    margin-left: 500px;
}
.el_pepe8 {
    margin-left: 500px;
}
 el_pepe9 {

margin-left: 500px;
 }




.el_pepe7 {
    background-color: rgb(253, 184, 184);
    bottom: 500px;
}
